# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:root@127.0.0.1:3306/multiverso"

# Cloudinary Keys
CLOUDINARY_CLOUD_NAME="djq3qzare"
CLOUDINARY_API_KEY="766998783193275"
CLOUDINARY_API_SECRET="zWZFUPiOmaBYfdkwhcfr-_LD15c"

# Sociais URL
SOCIAL_WHATSAPP="https://wa.me/45999477720"
SOCIAL_INSTAGRAM="https://www.instagram.com/"
SOCIAL_FACEBOOK="https://www.facebook.com/"
SOCIAL_X="https://x.com/"